@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@keyframes music-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes invitation-reveal {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}